
{
 ; set your dev database connection URL here
 :secrets #include "/Users/yimika/Documents/IdeaProjects/ghrec-acs/secrets.edn"
 :database-url #join ["postgresql://127.0.0.1:5432/ghacs_db?user=yimika&password="
											#ref [:secrets :super-admin-password]]
 :database-pool {:connection-timeout 5000 :max-lifetime 180000
								 :maximum-pool-size 20
								 :minimum-idle       10}
 :denom-factor 10000
 :queue {:recovery {:host      					"127.0.0.1"
										:port       				5672
										:username   				"guest"
										:password   				"guest"
										:vhost      				"/"
										:queue-exchange     "xchg-trigger-recovery"
										:queue-name         "queue-trigger-recovery"
										:queue-routing-key	"trigger-recovery"
										}
				 :sms {:host       "127.0.0.1"
					   :port       5672
					   :username   "guest"
					   :password   "guest"
					   :vhost      "/"
					   :queue-name					"queue-sms"
					   :queue-exchange			"xchg-as-sms"
					   :queue-routing-key		"sms"
					   }
		 }
 :sweep {:sweeper-task						1
				 :sweeper-max-thread			100
				 :sweeper-interval-delay 	360000
				 :sweeper-batch-size			250
				 }
 :ocs {:ocs-timeout	3000
			 :ocs-user "yimika"
			 :ocs-pass "yimika"
			 :ocs-balance-url "http://127.0.0.1:3000"
	   		 :ocs-debit-url "http://127.0.0.1:3002"
			 :ocs-loginsystemcode "102"
			 :ocs-getbalance-request-xml "/Users/yimika/Documents/IdeaProjects/ghrec-acs/ocs-get-balance.xml"
			 :ocs-debitbalance-request-xml "/Users/yimika/Documents/IdeaProjects/ghrec-acs/ocs-debit-balance.xml"
			 }
 :recovery-messge {:sms-partial    "Dear Customer, you have been deducted %sGhc towards clearing your Borrow Me Credit. You still owe %sGhc."
				   :sms-full       "Dear Customer, you have been deducted %sGhc towards clearing your Borrow Me Credit. Your Borrow Me Credit is now fully settled."
				   :sms-sender-name "BMC"}
 }

